.checkbox {
  &-container {
    input[type="checkbox"] {
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid $lightBlue;
      border-radius: $veryLightRounded;
      margin-right: 8px;
      vertical-align: middle;
      transition: 0.3s;
      appearance: none;
      -webkit-appearance: none;

      &:checked {
        background-color: $lightElectric !important;
      }
    }

    label {
      display: inline-block;
      vertical-align: middle;
      font-size: 13px !important;
      font-family: "Garet";

      line-height: 19px !important;
    }

    &:hover {
      input[type="checkbox"] {
        border-color: $mediumBlue;
      }
    }
  }
}