.currency-field-container {
	position: relative;

	div.balance {
		color: $lightBlue;
		font-family: "Garet-Medium";
		font-weight: 500;
		font-size: 13px;
	}

	.currency-field {
		display: block;
		position: relative;
		border: 1px solid $grey;
		border-radius: $rounded;
		margin-top: 4px;
		transition: 0.3s;
		background-color: $white;

		&:hover {
			border-color: $mediumBlue !important;

			.picker-container button {
				border-color: $mediumBlue;
			}
		}

		&:active,
		&:focus-within {
			border-color: $lightElectric !important;
			border: 1px solid $lightElectric !important;
			box-shadow: 0px 12px 32px $shadowBoxColor !important;
			border-radius: 6px;

			.picker-container button {
				border-color: $lightElectric;
			}
		}

		&.error {
			border-color: $mediumRed !important;
		}

		label {
			display: none;
		}

		input {
			width: 100%;

			&::placeholder {
				color: $grey;
			}
		}

		.picker-container {
			display: flex;
			justify-content: flex-start;

			button {
				border-color: $grey;
				justify-content: space-between;
				display: flex;
				align-items: flex-start;
				padding: 8px 12px;

				img {
					width: 16px;

					&+span {
						margin-left: 6px !important;
						margin-top: 2px;
					}
				}

				span: {
					font-family: "Garet";
					font-size: 13;
					line-height: 19px;
				}

				div:first-of-type {
					span {
						line-height: 1;
					}
				}
			}
		}
	}

	::-webkit-inner-spin-button {
		appearance: none;
		margin: 0;
	}

	.separator {
		display: block;
		width: 100%;
		height: 1px;
		position: relative;
		background-color: $borderColor;

		::-webkit-inner-spin-button {
			appearance: none;
			margin: 0;
		}

		.arrow-box {
			display: inline-block;
			position: absolute;
			width: 34px;
			height: 34px;
			padding: 9px;
			background-color: $white;
			border-radius: $lightRounded;
			border: 1px solid $grey;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.msg {
		display: block;
		font-size: 12px;
		font-family: "Garet-Medium";
		line-height: 24px;
		margin-top: 0px;
		color: $mediumRed;
		padding-right: 20px;

		&.hidden {
			display: none;
		}
	}

	button[id^="headlessui-listbox-button-"] {
		span.absolute {
			color: $lightBlue;
		}

		&:disabled {
			// background-color: #EBEFF5;

			img {
				filter: grayscale(100%);
			}
		}
	}

	.error {
		.picker-container {

			.error {
				display: none;
			}
		}
	}
}

body.sync {
	@media (prefers-color-scheme: dark) {
		.currency-field-container {
			.currency-field {
				background-color: $dark-background;
				border: 1px solid $dark-line;

				.picker-container {
					button {
						border-color: $dark-line;
					}
					color: white;
				}
			}
		}
	}
}

body.dark {
	.currency-field-container {
		.currency-field {
			background-color: $dark-background;
			border: 1px solid $dark-line;

			.picker-container {
				button {
					border-color: $dark-line;
				}
				color: white;
			}
		}
	}
}