.input-field,
.combo-field {

  input,
  textarea,
  .editable-block {
    background: $white;
    font-size: 14px;
    line-height: 24px;
    border: solid 1px $grey;
    border-radius: $lightRounded;
    box-shadow: none;
    min-width: 135px;
    transition: 0.3s;
    display: block;
    width: 100%;

    border-radius: $lightRounded;

    &:hover {
      border-color: $mediumBlue !important;
    }

    &:active,
    &:focus {
      border-color: $lightElectric !important;
      box-shadow: 0px 12px 32px $shadowBoxColor;
    }

    &.error {
      border-color: $grey;
    }

    &>div {
      display: inline-block;
      border-radius: $lightRounded;
      background-color: $textMain;
      color: $white;
      padding: 8px 12px;
      margin: 4px;
      cursor: pointer;
      user-select: none;
    }
  }

  textarea,
  .editable-block {
    min-height: 154px;
  }

  input {
    height: 44px;
    padding: 2px 32px 2px 16px;
  }

  textarea {
    padding: 4px 8px;
  }

  .editable-block {
    padding: 12px;
  }

  .msg {
    display: block;
    font-size: 12px;
    font-family: "Garet-Medium", sans-serif;
    line-height: 24px;
    margin-top: 0px;
    color: $mediumRed;

    &.hidden {
      display: none;
    }
  }
}

.text-field-buttons {
  textarea {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .buttons-container {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid $grey;
    border-top: none;
  }
}

.editable-block-options {
  .editable-block-option {
    display: inline-block;
    background-color: $white;
    border: 1px solid $grey;
    border-radius: $lightRounded;
    padding: 8px 12px;
    margin-top: 12px;
    margin-right: 12px;
    font-size: 14px;

    flex: none;
    order: 2;
    flex-grow: 0;
  }
}

label {
  font-family: "Garet-Medium", sans-serif;
  font-size: 14px !important;
  line-height: 20px !important;
  color: $dark;
}

.actionField {
  position: relative;

  textarea {
    padding-bottom: 60px;
  }

  .buttons-container {
    position: absolute;
    bottom: 1px;
    left: 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: calc(100% - 2px);
    border-top: 1px solid $grey;
    background: linear-gradient(314.47deg, $borderColor 2.19%, $lightGrey 100%);
    border-radius: 0px 0px 6px 6px;
  }
}

.nolus-field {
  input {
    &+button {
      position: absolute;
      right: 0;
      top: 0;
      height: -webkit-fill-available;
      border: none;
      border-left: 1px solid $grey;
    }

    &.error {
      &+button {
        border-left: 1px solid $mediumRed;

        svg {
          path {
            fill: $mediumRed !important;
          }
        }
      }
    }
  }

  .input-field {
    input {
      &:focus {
        &+button {
          transition: 0.3s;
          border-left: 1px solid $lightElectric !important;

          svg {
            path {
              fill: $lightElectric !important;
            }
          }
        }
      }

      &:hover {
        &+button {
          border-left: 1px solid $lightBlue !important;

          svg {
            path {
              fill: $lightBlue !important;
            }
          }
        }
      }
    }

    &.error {
      border: solid 1px $mediumRed !important;
    }
  }

  .error {
    &.msg {
      display: block;
      font-size: 14px;
      font-family: "Garet-Medium", sans-serif;
      line-height: 24px;
      margin-top: 4px;
      color: $mediumRed;
    }
  }
}

.input-field {
  input {
    &.error {
      border: solid 1px $mediumRed !important;
    }
  }
}


.combo-field {
  position: relative;

  .combo-popup {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px;
    gap: 20px;

    position: absolute;
    width: 240px;
    height: 152px;
    left: 398px;
    top: 795px;

    background: $white;
    border: 1px solid $borderColor;
    box-shadow: 0px 8px 48px $shadowModalColor;
    border-radius: 6px;
  }
}

body.sync {
  @media (prefers-color-scheme: dark) {

    .input-field,
    .combo-field {

      input,
      textarea,
      .editable-block {
        background-color: $dark-background;
        border: 1px solid $dark-line;
        color: $white;

        &>div {
          background-color: $lightElectric;
        }
      }

      .editable-block-options {
        .editable-block-option {
          background-color: $dark-background;
          border: 1px solid $dark-line;
          color: $white;
        }
      }
    }
  }
}

body.dark {
  .input-field,
  .combo-field {

    input,
    textarea,
    .editable-block {
      background-color: $dark-background;
      border: 1px solid $dark-line;
      color: $white;

      &>div {
        background-color: $lightElectric;
      }
    }

    .editable-block-options {
      .editable-block-option {
        background-color: $dark-background;
        border: 1px solid $dark-line;
        color: $white;
      }
    }
  }
}