.modal-form {
  width: 100%;
}

.modal {
  
  &-header {
    padding: 23px 20px 19px 40px;
    border-bottom: 1px solid $borderColor;
  }

  &-send-receive {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: auto;


    @media (min-width: $md) {
      height: auto;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    &-parent {
      background: linear-gradient(314.47deg, $borderColor 2.19%, $lightGrey 100%);
      backdrop-filter: blur(8px);

      @media (min-width: $md) {
        background: linear-gradient(0deg, rgba(43, 56, 75, 0.5), rgba(43, 56, 75, 0.5)), rgba(40, 104, 225, 0.1);
      }

      @media (min-width: $md) and (orientation: landscape) {
        -webkit-overflow-scrolling: touch;
        align-items: flex-start;
        padding-top: 2vh;
      }

    }

    &-header {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      overflow: hidden;
      width: 100%;
      border-bottom: 1px solid $borderColor;

      &>button {
        display: inline-block;
        background-color: $lightGrey;
        color: $mediumBlue;
        width: 50%;
        padding: 24px 0;
        font-size: 28px;
        font-family: "Garet Bolder";
        text-align: center;

        &:first-of-type {
          border-right: 1px solid $borderColor;
        }

        &.active {
          background-color: $white;
          color: $textMain;
        }
      }

      .navigation-header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px;
        width: 100%;
        position: relative;

        @media (min-width: $md) {
          padding: 18px 40px;
        }

        &.wrap {
          flex-wrap: wrap;
        }

        .back-arrow {
          display: inline-block;
          position: absolute;
          left: 24px;
          top: 50%;
          transform: translateY(-50%) translateZ(0);

          @media (min-width: $md) {
            left: 40px;
          }
        }

        .success-icon {
          background-color: $iconGreen;
          color: $mediumGreen;
        }

        .error-icon {
          background-color: $iconBackgroundRed;
          color: $mediumRed;
        }
      }
    }

    &-input-area {
      flex-grow: 1;
      width: 100%;
      padding: 20px 24px 20px;
      -webkit-overflow-scrolling: touch;

      @media (min-width: $md) {
        padding: 20px 40px 20px !important;
      }

      &.pt-0 {
        padding-top: 0 !important;
      }
    }

    &-actions {
      width: 100%;
      max-width: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      padding: 16px 24px;

      button:not(.btn-auto) {
        width: 100%;
      }

      @media (min-width: $md) {
        position: relative;
        left: initial;
        bottom: initial;
        padding: 0 40px 0px;
        transform: translateZ(0);
        border-radius: 12px;
      }
    }
  }

  .nls-balance {
    padding: 13px 12px 12px 16px;

    a {
      color: $brand-accent;
    }
  }

}

.modal-send-receive-actions {
  @media (min-width:$md) {
    padding-bottom: 30px;
  }
}

.no-border {
  border: none;
}

body.sync {

  .modal {

    &-send-receive {

      &-parent {

        @media (prefers-color-scheme: dark) {

          background: $dark-gray;
  
          @media (min-width: $md) {
            background: linear-gradient(0deg, rgba(43, 56, 75, 0.5), rgba(43, 56, 75, 0.5)), rgba(40, 104, 225, 0.1);
          }

        }
      }

      @media (prefers-color-scheme: dark) {
        .bg-light-grey {
          background-color: $dark-line;
        }
      }

      &-header {
        @media (prefers-color-scheme: dark) {
          border-bottom: 1px solid $dark-line;
        }

        &>button {
          @media (prefers-color-scheme: dark) {
            background-color: $dark-gray;
          }

          &:first-of-type {
            @media (prefers-color-scheme: dark) {
              border-right: 1px solid $dark-line;
            }
          }

          &.active {
            @media (prefers-color-scheme: dark) {
              color: $white;
              background-color: $dark-background;
            }
          }

        }

      }

    }

  }

  @media (prefers-color-scheme: dark) {

    .back-arrow {
      color: white;
    }
  }

}

body.dark {

  .modal {

    &-send-receive {

      &-parent {

        background: $dark-gray;
  
        @media (min-width: $md) {
          background: linear-gradient(0deg, rgba(43, 56, 75, 0.5), rgba(43, 56, 75, 0.5)), rgba(40, 104, 225, 0.1);
        }

      }

      .bg-light-grey {
        background-color: $dark-line;
      }

      &-header {
        border-bottom: 1px solid $dark-line;

        &>button {
          background-color: $dark-gray;

          &:first-of-type {
            border-right: 1px solid $dark-line;
          }

          &.active {
            color: $white;
            background-color: $dark-background;
          }

        }

      }

    }


  }

  .back-arrow {
    color: white;
  }
}