.picker {
  span.loading {
    position: relative;
    width: 1.2em;
    height: 1.2em;

    &::after {
      content: "";
      display: block;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: 5px;
      top: 0;
      border: 2px solid $borderColor;
      border-right-color: $dark;
      border-radius: 50%;
      animation: loading-animation 0.7s linear infinite;
      opacity: 1;
    }

    &::before {
      content: "";
      display: block;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: 5px;
      top: 0;
      border: 2px solid $borderColor;
      border-radius: 50%;
      opacity: 1;
    }
  }

  &-container {
    ul {
      list-style-type: square;
      padding: 6px;
      background: $white;
      border: 1px solid $borderColor;
      box-shadow: 0px 8px 48px $shadowModalColor !important;
      border-radius: $lightRounded !important;

      li {
        border-bottom: none !important;
        // font-family: "Garet-Medium";
        font-size: 12px;
        line-height: 17px;
        color: $textMain;
        position: relative;
        position: relative;
        display: flex;
        border-radius: 4px;

        &.selected {
          background-color: #EBEFF5;
        }

        span.truncate {
          overflow: unset;
        }

        img.icon-option {
          width: 16px;
        }
      }

      &.combo {
        min-height: 31px;

        ul {
          list-style-type: square;

          background: $white;
          border: 1px solid $borderColor !important;
          box-shadow: 0px 8px 48px $shadowModalColor !important;
          border-radius: 6px !important;

          padding: 0;

          &:before {
            content: "\e816";
            font-family: "nolus";
            font-size: 2.5em;
            margin-right: 8px;
            color: $textMain;
          }
        }
      }

      button {
        overflow: hidden;

        &[aria-expanded="true"] {
          border-color: $lightElectric;

          span.absolute {
            border-color: $lightElectric;
            background-color: $borderColor;

            svg {
              color: $lightElectric;
            }
          }
        }

        &:hover {
          span.absolute {
            border-color: $mediumBlue;
          }
        }

        &:active,
        &:focus {
          span.absolute {
            background-color: $borderColor;

            svg {
              color: $lightElectric;
            }
          }
        }

        .block {
          min-height: 24px;
        }

        span.absolute {
          margin: 0;
          padding: 0 14px;
          border-left: 1px solid $grey;
          transition: 0.3s;

          svg {
            color: $lightBlue;
            transition: 0.3s;
          }
        }
      }
    }

    button {
      font-size: 14px;
      line-height: 24px;
      border: solid 1px $grey;
      border-radius: 6px;
      box-shadow: none !important;
      height: 44px;
      transition: 0.3s;
      min-height: 36px;
      padding: 2px 32px 2px 16px;

      &[aria-expanded="true"] {
        border-color: $lightElectric;

        &.combo {
          span.absolute {
            border-left: 1px solid $lightElectric;
            background-color: $borderColor;
          }
        }
      }

      &:hover {
        border-color: $mediumBlue;
      }

      &:active,
      &:focus {
        border-color: $lightElectric;
      }

      span {
        span.truncate {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .msg {
      display: block;
      font-size: 12px;
      font-family: "Garet-Medium";
      line-height: 24px;
      margin-top: 0px;
      color: $mediumRed;

      &.hidden {
        display: none;
      }
    }

    ul {
      border: 1px solid $grey;
      border-radius: $rounded;
      box-shadow: 0 8px 48px 0 $shadowModalColor;

      li {
        border-bottom: 1px solid $grey;
        color: $textMain;

        &:not(:last-child) {
          margin-bottom: 5px;
        }

        span {
          font-size: 14px;
          line-height: 17px;
        }

        &:hover:not([class*="icon"]) {
          color: $lightElectric;
        }

        &.active {
          color: $lightElectric;
        }

        &:last-of-type {
          border-bottom: none;
        }

        svg {
          color: $textMain;
        }

        .selected {
          color: $lightElectric;
        }
      }
    }

    &.combo {
      button {
        span.absolute {
          color: $lightBlue;
          border-left: 1px solid $borderColor;
        }

        &:focus,
        &[aria-expanded="true"] {
          span.absolute {
            color: $lightElectric;
            border-left: 1px solid $lightElectric;
            background-color: $activeButton;
          }
        }

        &:hover {
          span.absolute {
            color: $mediumBlue;
            border-left: 1px solid $mediumBlue;
          }
        }
      }
    }
  }

  &.error {
    .picker-container {
      button {
        border-color: $mediumRed !important;
      }

      &.combo {
        span.absolute {
          border-color: $mediumRed;
          background-color: transparent;

          svg {
            color: $mediumRed;
          }
        }
      }
    }
  }

  &.small {
    .picker-container {
      button {
        font-size: 14px;
        padding: 8px 32px 8px 12px;
      }
    }
  }
}

.nolus-combo {
  padding: 12px 0px;
  background: $white;
  border-radius: 6px;

  ul {
    padding: 12px 19px;
    gap: 20px;
    z-index: 99;
    background: $white;
    border: 1px solid $borderColor;
    box-shadow: 0px 8px 48px $shadowModalColor;
    border-radius: $lightRounded;

    li {
      margin-bottom: 27.75px;
      font-size: 12px;
      line-height: 17px;
      font-family: "Garet-Medium";
    }
  }
}

.nolus-combo-field {
  outline: 1px solid $grey;
  transition: 0.3s;

  .button {
    border-left: 1px solid $grey;
  }

  input {
    padding: 12px 32px 12px 12px;
  }

  &:focus,
  &:focus-within {
    outline: 1px solid $lightElectric;

    .nolus-combo-button {
      border-left: 1px solid $grey;
      color: $lightElectric;
      border-left: 1px solid $lightElectric;
      background-color: $activeButton;

      span.icon {
        color: $lightElectric;
      }
    }
  }

  &.error {
    outline: 1px solid $mediumRed;

    button {
      border-left: 1px solid $mediumRed;
      padding: 5px;
    }

    span.icon {
      color: $mediumRed;
      margin-right: 0px;
    }
  }

  &:hover {
    outline: 1px solid $lightBlue;

    .nolus-combo-button {
      border-left: 1px solid $lightBlue;

      span.icon {
        margin-right: 0;
        color: $lightBlue;
      }
    }
  }

  .nolus-combo-button {
    border-left: 1px solid $grey;

    &:hover {
      border-left: 1px solid $lightBlue;
    }

    padding: 5px;

    span.icon {
      margin-right: 0;
      color: $lightBlue;
    }
  }
}

body.sync {
  .picker {
    &-container {
      button {
        @media (prefers-color-scheme: dark) {
          border: solid 1px $dark-line;
        }
      }

      ul {

        li.selected,
        li:hover {
          @media (prefers-color-scheme: dark) {
            background-color: #2B384B !important;
          }
        }
      }

      @media (prefers-color-scheme: dark) {
        button[id^="headlessui-listbox-button-"] {
          span.absolute {
            color: $lightBlue;
          }
        }
      }
    }
  }
}

body.dark {
  .picker {
    &-container {
      button {
        border: solid 1px $dark-line;
      }

      button[id^="headlessui-listbox-button-"] {
        span.absolute {
          color: $lightBlue;
        }
      }

      ul {

        li.selected,
        li:hover {
          background-color: #2B384B !important;
        }
      }
    }
  }
}

@keyframes loading-animation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}