div.pnl-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

div.pnl {
    border-radius: 4px;
    color: white;
    padding: 6px 4px;
    margin-bottom: 40px;

    &.success {
        background-color: #1AB171;
    }

    &.alert {
        background-color: #E42929;
    }
}

div.dash-pnl {
    position: absolute;
    left: 0;
    top: calc(50% - 20px);
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    height: 1px;
    z-index: 1;

    &.success {
        background: repeating-linear-gradient(to right,
                transparent,
                transparent 10px,
                #1AB171 10px,
                #1AB171 20px);
    }

    &.alert {
        background: repeating-linear-gradient(to right,
                transparent,
                transparent 10px,
                #E42929 10px,
                #E42929 20px);
    }

}

canvas {
    position: relative;
    z-index: 2;
}

@media (max-width: $lg) {
    canvas{
        position: unset;
    }
    div.pnl-container, div.dash-pnl{
        display: none;
    }
}