span.search-input {
  position: relative;
  &::after {
    display: block;
    content: attr(data);
    color: transparent;
  }
}

input.search-input {
  width: 100%;
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  &::placeholder {
    color: $textMain !important;
    opacity: 1;
  }
}

body.dark {
  input.search-input {
    &::placeholder {
      color: #fff !important;
      opacity: 1;
    }
  }
}

body.sync {
  @media (prefers-color-scheme: dark) {
    input.search-input {
      &::placeholder {
        color: #fff !important;
        opacity: 1;
      }
    }
  }
}
