.sidebar-container {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 190px;
	height: 100vh;
	transform: translateZ(0);
	z-index: 2;

	.top {
		display: block;
	}

	.bot {
		display: none;

		@media (min-width: $lg) {
			display: block;
		}
	}

	.top,
	.bot {
		width: 100%;
	}

	.sidebar-elements-container {
		max-width: 132px;
		@media (max-width: $lg) {
			display: flex;
			justify-content: space-between;
			position: fixed;
			bottom: 0;
			left: 0;
			background: $white;
			width: 100vw;
			border-top: 1px solid $borderColor;
			padding: 8px;
		}

		&:hover {
			.sidebar-element {
				color: $textMain;

				.icon {
					display: inline-block;
				}
				.iconHover {
					display: none;
				}
			}
		}

		.block {
			@media (min-width: $lg) {
				margin-bottom: 20px;

				&:last-of-type {
					margin-bottom: 0 !important;
				}
			}
		}
	}

	.logo {
		&-float {
			position: relative !important;
			width: 100%;
			padding-left: 0;

			img {
				margin: 0;
			}
		}
	}
	@media (max-width: $lg) {
		position: fixed;
	}
}

.sidebar-element {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 16px;

	background: transparent;
	border-radius: 12px;
	position: relative;
	font-size: 16px;
	line-height: 23px;
	font-family: "Garet-Medium";
	transition: 0.3s;
	.icon {
		font-size: 1.8em;
		margin-top: 12.62px;
		margin-bottom: 11.62px;
		margin-right: 6.5px;
		color: $lightBlue;
		transition: 0.3s;
	}
	&:hover {
		background-color: $borderColor;
		.icon {
			//	color: $brand-accent;
		}
	}
	@media (min-width: $lg) {
		font-size: 16px;

		flex-direction: row;
		justify-content: flex-start;
		font-family: "Garet-Medium";
		&:not(.icon) {
			line-height: 23px;
		}
	}

	&.active {
		color: $orange;
		.icon {
			color: $brand-accent;
		}
		@media (min-width: $lg) {
			background-color: $borderColor;
		}

		// .icon {
		// 	display: none;
		// }

		// .iconHover {
		// 	display: block;

		// 	@media (min-width: $lg) {
		// 		display: inline-block;
		// 	}
		// }
	}

	&:active {
		color: $orange !important;

		@media (min-width: $lg) {
			background-color: $background-scale-darker !important;
		}

		// .icon {
		// 	display: none !important;
		// }
		// .iconHover {
		// 	display: inline-block !important;
		// }
	}

	// .icon,
	// .iconHover {
	// 	display: block;
	// 	position: relative;
	// 	margin: 0;

	// 	@media (min-width: $lg) {
	// 		display: inline-block;
	// 	}
	// }

	// .iconHover {
	// 	display: none;
	// }

	span {
		display: block;

		@media (min-width: $lg) {
			display: inline-block;
		}
	}
}

.sidebar-social-element {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	margin-right: 16px;
	font-family: "Garet-Medium";

	&:last-of-type {
		margin-right: 0 !important;
	}

	img {
		display: block;
		width: 20px;
		height: 16.24px;

		margin: 0 auto;
	}
}

.sidebar-link-element {
	display: block;
	text-align: left;
	color: rgba(7, 45, 99, 0.5);

	@extend .text-detail;

	&:hover,
	&:active {
		color: $textMain;
	}
}

.sidebar-header {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	padding: 8px;
	background-color: $white;
	border-bottom: 1px solid $borderColor;
	z-index: 1;

	.btn-header {
		@media (max-width: $lg) {
			background-color: $white;
			border-radius: 0;
			border: none;
			width: 48px;
			height: 48px;
			padding: 0;

			svg {
				width: 55%;
				height: 55%;
			}

			img {
				width: 20px;
				height: 20px;
				margin-right: 0;
			}

			.label {
				display: none;
			}
		}
	}

	@media (min-width: $lg) {
		padding: 0;
		background-color: transparent !important;
		border: none !important;
	}
}
