div.slider-box {
    position: relative;
    cursor: pointer;

    div.slider {
        width: 100%;
        background-color: #EBEFF5;
        height: 10px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;

        div.background-box {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 15%;
            background-color: #2868E1;
            z-index: 1;
            height: 10px;
        }

        div.box {
            display: flex;
            width: 100%;
            position: relative;
            z-index: 2;
        }

        span.big {
            flex: 4;
            border-right: solid 4px white;
        }

        span.small {
            flex: 1;

            &:not(:last-child) {
                border-right: solid 4px white;
            }
        }
    }

    button {
        position: absolute;
        left: 15%;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 2;
        width: 36px;
        height: 36px;
        background-image: url("@/assets/icons/slider.svg");
    }
}

body.dark {

    span.big,
    span.small {
        border-color: $dark-line !important;
    }
}

body.sync {
    @media (prefers-color-scheme: dark) {

        span.big,
        span.small {
            border-color: $dark-line !important;
        }
    }
}