div.state {
    .current {
        fill: #2868E1;
        animation: fadeIn 1s infinite alternate;
    }

    .ready {
        fill: #1AB171;
    }

    div.state-status {
        position: absolute;
        border-radius: 4px;
        color: #2868E1;
        background: white;
        border: solid 1px #8396B1;
        font-size: 10px;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 4px;
        display: none;
        height: 22px;
        align-items: center;
        white-space: pre;
        z-index: 1;
    }

    div.status {
        background-color: #EBEFF5;
        padding: 6px;
        border-radius: 50%;
    }

    div.status:hover {
        div.state-status {
            display: flex;
        }
    }
}

.state-loading {
    position: relative;
    height: 1em;
    background-color: #ebeff5;
    display: block;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    overflow: hidden;

    &::before {
        content: "";
        border-radius: 4px;
        position: absolute;
        height: 100%;
        width: 40px;
        animation: skeleton 800ms infinite;
        background: rgb(201 201 201 / 15%);
        filter: blur(8px);
    }
}

body.sync {
    @media (prefers-color-scheme: dark) {
        div.status {
            background-color: #2B384B;
        }

        .state-loading {
            background-color: #2B384B;

            &::before {
                background: #c9c9c917;
            }
        }
    }
}

body.dark {
    div.status {
        background-color: #2B384B;
    }

    .state-loading {
        background-color: #2B384B;

        &::before {
            background: #c9c9c917;
        }
    }
}

@keyframes skeleton {
    0% {
        left: 0;
    }

    100% {
        left: calc(100% - 20px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.4;
    }
}