.fade-enter-active,
.fade-leave-active {
  transition: opacity 200ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-long-enter-active,
.fade-long-leave-active {
  transition: opacity 400ms ease;
}

.fade-long-enter-from,
.fade-long-leave-to {
  opacity: 0;
}

.collapse-enter-active,
.collapse-leave-active {
  transition: 250ms ease;
}

.collapse-enter-from {
  transform: rotateX(-30deg) translateZ(0px);
}

.collapse-leave-to {
  transform: none;
}

.collapse-enter-from,
.collapse-leave-to {
  opacity: 0;
}

.tooltip-animations {
  transition: opacity 150ms ease;
  opacity: 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-fade-bottom {
  0% {
    opacity: 1;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

//[class^="icon-"] {
//  font-size: 1.8em !important;
//}

.nls-btn-show {
  display: none;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

@media (min-width: $md) {

  .row-actions:hover .nls-btn-show {
    transition: 0.2s;

    display: flex;
    animation-name: show-anime;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
  }

  .info-show {
    animation-name: show-anime;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    transition: 0.2s opacity;
  }

  .row-actions:hover .info-show {
    opacity: 0;
  }

}

@keyframes show-anime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ease-2 {
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.duration-3 {
  transition-duration: 0.5s;
}

.transition {
  transition-property: color, background-color, border-color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-text-decoration-color,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
}

.shadow-1,
.shadow-navbar-icon {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 $black),
    var(--tw-ring-shadow, 0 0 $black), var(--tw-shadow);
}

.show-box-pop {
  position: relative;
}

.c-navbar-qr__container {
  border-radius: $rounded;
  display: block;
  transition-duration: 0.3s;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: ease;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-name: slide-fade-bottom;
  animation-name: slide-fade-bottom;
  -webkit-animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}

.c-navbar-wallet__container {
  @media (min-width: $md) {
    border-radius: 12px;
  }

  display: block;
}

.show-box-wallet:hover,
.show-box-wallet:focus-within {
  .radius-top-left {
    border-top-left-radius: 6px;
  }

  .radius-bottom-left {
    border-bottom-left-radius: 6px;
  }
}

.top-full {
  top: 100%;
}

span.loading {
  position: relative;
  width: 1.2em;
  height: 1.2em;

  &::after {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    left: 5px;
    top: 0;
    border: 2px solid $borderColor;
    border-right-color: $dark;
    border-radius: 50%;
    animation: loading-animation 0.7s linear infinite;
    opacity: 1;
  }

  &::before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    left: 5px;
    top: 0;
    border: 2px solid $borderColor;
    border-radius: 50%;
    opacity: 1;
  }
}
