.border {

  &-standart {
    border-color: $borderColor;
  }
}

div.asset-partial, div.vested-partial, div.earn-asset, div.history-item {
  &:last-child{
      border: none;
  }
}

.history-items-container {
  .history-item {
    &:last-of-type {
      > div {
        border: none;
      }
    }
  }
}
