button {
  align-items: center;

  [class*="icon-"] {
    margin-right: 0px;

    &:before {
      margin-right: 0;
    }
  }
}

.js-loading {
  color: transparent;
  background-color: $borderColor;
  pointer-events: none;
  cursor: pointer;

  pointer-events: none;
  border: none;

  &::selection {
    color: transparent;
  }

  &::before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    left: calc(50% - 0.6em);
    top: calc(50% - 0.6em);
    border: 2px solid $borderColor;
    border-radius: $halfRounded;
    opacity: 1;
  }

  &::after {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    left: calc(50% - 0.6em);
    top: calc(50% - 0.6em);
    border: 0.15em solid transparent;
    border-right-color: $lightElectric;
    border-radius: $halfRounded;
    animation: button-anim 0.7s linear infinite;
    opacity: 1;
  }
}

.btn {
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: $white;
  transition: 0.3s;
  @media (prefers-color-scheme: dark) {
    background-color: $dark-background;
  }

  &-icon {
    .icon {
      position: relative;

      &:before {
        position: absolute;
        left: 0;
        top: -3px;
      }

      &.icon-copy {
        margin-right: 8px;
      }
    }
  }

  &-large-label {
    font-size: 14px;
    line-height: $line-height-20;
    font-family: "Garet";
    color: $lightElectric;
    background-color: transparent;
    padding: 12px 0;
  }

  &-outline {
    color: $lightElectric;
    font-family: "Garet Bolder";
    font-size: 12px;
    line-height: 17px;
  }

  &-large-primary {
    font-size: 14px;
    line-height: $line-height-20;
    font-family: "Garet Bolder";
    color: $white;
    background-color: $lightElectric;
    padding: 12px 24px;
    border-radius: $rounded;
  }

    &:hover,
    &:focus {
      background-color: $mediumElectric;
    }

    &:active {
      background-color: $darkElectric;
    }

    &.js-disabled,
    &.js-loading {
      color: transparent;
      background-color: $background-scale-darker;
      cursor: default;
    }

    &:disabled { 
      color: $lightBlue;
      background-color: $background-scale-darker;
      cursor: default;
    }

  &-large-box,
  &-medium-box,
  &-small-secondary {
    font-size: 14px;
    font-family: "Garet";
    color: $dark;
    line-height: $line-height-20;
    background-color: $white;
    padding: 19px 24px;
    border: 1px solid $grey;
    border-radius: $rounded;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (prefers-color-scheme: dark) {
      color: $white;
      &:active {
        color: $lightElectric;
      }
    }

    &-icon {
      display: inline-flex;
      align-items: baseline;
    }

    .icon {
      color: $dark !important;
      display: inline-block;
      font-size: 2.2rem !important;
      margin-bottom: 20px;
    }

    &::after {
      content: "";
      display: block;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: calc(50% - 0.6em);
      top: calc(50% - 0.6em);
      border: 0.15em solid transparent;
      border-right-color: $lightElectric;
      border-radius: $halfRounded;
      animation: button-anim 0.7s linear infinite;
      opacity: 0;
    }

    &.js-loading::before {
      content: "";
      display: block;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: calc(50% - 0.6em);
      top: calc(50% - 0.6em);
      border: 2px solid $borderColor;
      border-radius: $halfRounded;
      opacity: 1;
    }

    &:not(.btn-emphatized):hover {
      background-color: $lightGrey;
    }

    &:not(.btn-emphatized):focus {
      background-color: $activeButton;
    }

    &:not(.btn-emphatized):active {
      border-color: $lightElectric;
      background-color: $activeButton;

      .icon {
        color: $lightElectric;
      }
    }

    &:active {
      background-color: $darkBlue;
      @media (prefers-color-scheme: dark) {
        .icon-keplr::before,
        .icon-google::before,
        .icon-ledger::before,
        .icon-recover::before{
          color: $lightElectric;
        }
      }
    }

    &:disabled,
    &.js-disabled,
    &.js-loading {
      background-color: $activeButton;
      cursor: default;
      pointer-events: none;
    }
  }

  &-large-box {
    background-color: $white;
    font-family: "Garet";

    img {
      display: block;
      margin: 0 auto 12px;
    }

    &:hover {
      background: $lightGrey;
      border: 1px solid $lightBlue;
      box-shadow: 0px 12px 32px $shadowBoxColor;
      border-radius: $rounded;
    }

    &:active {
      background: $activeButton;
      border: 1px solid $lightElectric;
      border-radius: $rounded;
    }
  }

  &-medium-secondary,
  &-medium-box {
    font-size: 14px;
    font-family: "Garet Bolder" !important;
    padding: 8px 12px !important;
    border-radius: $lightRounded;
    @media (prefers-color-scheme: dark) {
      border: 1px solid $dark-line !important;
      background-color: $dark-background !important;
      color: $white;
      &:hover {
        color: $white !important;
        background-color: $dark-background !important;
        border: 1px solid $mediumBlue !important;
      }
      &:active {
        background-color: red !important;
        border-color: $lightElectric !important;
      }
    }
  }

  &-large-secondary {
    position: relative;
    padding: 12px 24px;
    background: $white;
    border: 1px solid $grey;
    border-radius: $rounded;
    font-family: "Garet Bolder";
    font-size: 14px;
    line-height: $line-height-20;

    &:hover,
    &:focus {
      background: $lightGrey;
      border: 1px solid $lightBlue;
      box-shadow: 0px 12px 32px $shadowBoxColor;
    }

    &.js-loading {
      color: transparent;
      background-color: $borderColor;
      pointer-events: none;
      cursor: default;

      &::before {
        content: "";
        display: block;
        width: 1.2em;
        height: 1.2em;
        position: absolute;
        left: calc(50% - 0.6em);
        top: calc(50% - 0.6em);
        border: 2px solid $borderColor;
        border-radius: $halfRounded;
        opacity: 1;
      }

      &::after {
        content: "";
        display: block;
        width: 1.2em;
        height: 1.2em;
        position: absolute;
        left: calc(50% - 0.6em);
        top: calc(50% - 0.6em);
        border: 0.15em solid transparent;
        border-right-color: $lightElectric;
        border-radius: $halfRounded;
        animation: button-anim 0.7s linear infinite;
        opacity: 1;
      }

      &::selection {
        color: transparent;
      }
    }

    &:active {
      background: $activeButton;
      border: 1px solid $lightElectric;
      color: $lightElectric;
    }

    &-emphatized {
      background-color: $lightElectric;
    }
  }

  &-medium-secondary {
    font-family: "Garet-Medium";
    font-size: 14px;
    line-height: $line-height-20;
    padding: 8px 12px;
    border: 1px solid $grey;
    transition: 0.3s;

    &:not(.btn-emphatized):hover,
    &:not(.btn-emphatized):focus {
      background: $lightGrey;
      border: 1px solid $lightBlue;
      box-shadow: 0px 12px 32px $shadowBoxColor;
    }

    &:active:not(.btn-emphatized) {
      background: $activeButton !important;
      border: 1px solid $lightElectric !important;
      color: $lightElectric !important;
    }
  }

  &-small-secondary {
    font-size: 12px;
    font-family: "Garet";
    padding: 8px 12px;
    line-height: $line-height-20;
    border: 1px solid $grey;
    border-radius: $lightRounded;
    background-color: $white;

    &:before {
      width: 0.85em;
      height: 0.85em;
    }

    &:s {
      width: 0.85em;
      height: 0.85em;
      position: absolute;
      left: calc(50% - 0.425em);
      top: calc(50% - 0.425em);
    }

    &:not(.btn-emphatized):hover,
    &:not(.btn-emphatized):focus {
      border: 1px solid $lightBlue;
      background: $lightGrey;
      box-shadow: 0px 12px 32px $shadowBoxColor;
    }

    &:active:not(.btn-emphatized) {
      background: $activeButton !important;
      border: 1px solid $lightElectric !important;
      color: $lightElectric !important;
    }
  }

  &-emphatized {
    background-color: $lightElectric;
    border-color: $lightElectric;
    color: $white;
    font-family: "Garet-Medium";

    .icon {
      color: $white !important;

      svg {
        margin-right: 8px;
      }
    }

    &.success {
      background-color: $mediumGreen;
      border-color: $mediumGreen;
    }

    &.dark {
      background-color: $dark;
      border-color: $white;
    }

    &:hover,
    &:focus {
    	background-color: $mediumElectric;
    }

    &:active {
      background-color: $darkElectric;
    }
  }

  &-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: $white;
    border-radius: $circle;
    box-shadow: 0px 8px 48px $shadowModalColor;

    [class^="icon-"] {
      margin-right: 0;
      font-size: 1.8rem !important;
    }

    &:hover,
    &:focus {
      background-color: $grey
    }

    &:active {
      background: rgba(255, 255, 255, 0.6);
      box-shadow: 0px 8px 48px $shadowModalColor;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40.86px;
    background: $white;
    border-radius: 0px 0px $lightRounded $lightRounded;
    border: 1px solid $borderColor;
    box-shadow: 0px 12px 32px $shadowBoxColor;
    transition: 0.3s;
    color: $lightBlue;
    position: relative;

    &.rounded-r-none {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    &:hover,
    &:focus {
      color: $dark;
    }

    &:hover {
      order: 1px solid $borderColor;
      box-shadow: 0px 12px 32px $shadowBoxColor;
      border-radius: 0px 0px $lightRounded $lightRounded;
    }

    &:active {
      color: $lightBlue;
      background-color: $lightGrey;
      border: 1px solid $borderColor;
    }

    .counter {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 10px;
      color: $white;
      background-color: $orange;
      font-family: "Garet Bolder";
      transform: translate(5%, -100%);
      padding: 1px 5px 0;
      border-radius: $circle;
    }
  }

  &-close-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%) translateZ(0);
    width: 100%;
    padding: 22px 0;

    @media (min-width: $md) {
      &:hover {
        background-color: $lighestGrey;
      }
    }

    &:active {
      background-color: $white;
    }

    @media (min-width: $md) {
      border-radius: $circle;
      background-color: $white;
      width: 50px;
      height: 50px;
      border: 1px solid $borderColor;
      box-shadow: 0 8px 48px 0 $shadowModalColor;
      padding: 0;
      top: 24px;
      right: 24px;
      transform: translateZ(0);
    }
  }

  [class*="icon-"] {
    font-size: 1.8em;

    &:not(.circle):before {
      margin-left: 0em;
    }
  }
}

[class*="icon-"] {
  font-size: 1.2rem;
}

.with-icon {
  padding: 0 16px;
  width: auto;
}

@keyframes button-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

// Dark mode setthings
@media (prefers-color-scheme: dark) {
  // .btn-large-primary {
  //   background-color: $dark-lightElectric;
  // }
  // .btn-large-primary:hover {
  //   background-color: $dark-mediumElectric;
  // }
  // .btn-large-primary:active {
  //   background-color: $dark-darkElectric;
  // }
  .btn-large-box {
    background-color: $dark-background !important;
    border-color: $dark-line;
  }

  .btn-large-box:hover {
    border-color: $mediumBlue !important;
    background-color: $dark-background !important;
  }

  .btn-large-box:active {
    border-color: $lightElectric !important;
    background-color: $lightElectric10 !important;
  }

  .js-loading {
    background-color: transparent !important;
  }

  .disabled {
    background-color: $dark-background !important;
    border: 1px $dark-line solid;
  }
  .btn-large-secondary {
    background-color: $dark-background !important;
    border-color: $dark-line;
    color: $white;
  }
  .btn-large-secondary:hover {
    background-color: $dark-background;
    border-color: $mediumBlue;
    color: $white;
  }
  .btn-large-secondary:active {
    background-color: $lightElectric10;
    border-color: $lightElectric;
    color: $lightElectric;
  }
}