.bg {
  &-whiteGrey {
    background-color: #f7f9fc;
  }

  &-grey {
    background-color: #ebeff5;
  }

  &-grey-dark {
    background-color: #c1cad7;
  }

  &-light-blue {
    background-color: #8396b1;
  }

  &-medium-blue {
    background-color: #5e7699;
  }

  &-dark-blue {
    background-color: #082d63;
  }

  &-light-electric {
    background-color: #2868e1;
  }

  &-medium-electric {
    background-color: #245dc7;
  }

  &-dark-electric {
    background-color: #1f51ad;
  }

  &-light-red {
    background-color: #e42929;
  }

  &-medium-red {
    background-color: #c92424;
  }

  &-dark-red {
    background-color: #b02020;
  }

  &-light-green {
    background-color: #50e3a5;
  }

  &-medium-green {
    background-color: #47c993;
  }

  &-dark-green {
    background-color: #1ab171;
  }

  &-light-yellow {
    background-color: #ffd782;
  }

  &-medium-yellow {
    background-color: #ffc74f;
  }

  &-dark-yellow {
    background-color: #ffb922;
  }

  &-orange {
    background-color: #ff562e;
  }
}

.color {
  &-whiteGrey {
    color: #f7f9fc;
  }

  &-grey {
    color: #ebeff5;
  }

  &-grey-dark {
    color: #c1cad7;
  }

  &-light-blue {
    color: #8396b1;
  }

  &-medium-blue {
    color: #5e7699;
  }

  &-dark-blue {
    color: #082d63;
  }

  &-light-electric {
    color: #2868e1;
  }

  &-medium-electric {
    color: #245dc7;
  }

  &-dark-electric {
    color: #1f51ad;
  }

  &-light-red {
    color: #e42929;
  }

  &-medium-red {
    color: #c92424;
  }

  &-dark-red {
    color: #b02020;
  }

  &-light-green {
    color: #50e3a5;
  }

  &-medium-green {
    color: #47c993;
  }

  &-dark-green {
    color: #1ab171;
  }

  &-light-yellow {
    color: #ffd782;
  }

  &-medium-yellow {
    color: #ffc74f;
  }

  &-dark-yellow {
    color: #ffb922;
  }

  &-orange {
    color: #ff562e;
  }
}
