.bg {
  &-white {
    background-color: $white;
  }

  &-lightGrey {
    color: $lightGrey;
  }

  &-grey {
    color: $grey;
  }

  &-grey-dark {
    color: $darkGrey;
  }

  &-light-blue {
    background-color: $lightBlue;
  }

  &-medium-blue {
    background-color: $mediumBlue;
  }

  &-dark-blue {
    background-color: $darkBlue;
  }

  &-light-electric {
    background-color: $lightElectric;
  }

  &-medium-electric {
    background-color: $mediumElectric;
  }

  &-dark-electric {
    background-color: $darkElectric;
  }

  &-light-red {
    color: $lightRed;
  }

  &-medium-red {
    color: $mediumRed;
  }

  &-light-green {
    color: $lightGreen;
  }

  &-medium-green {
    color: $mediumGreen;
  }

  &-light-yellow {
    color: $lightYellow;
  }

  &-medium-yellow {
    color: $mediumYellow;
  }

  &-orange {
    color: $orange;
  }
}

.color {
  &-white {
    background-color: $white;
  }
  
  &-lightGrey {
    color: $lightGrey;
  }

  &-grey {
    color: $grey;
  }

  &-grey-dark {
    color: $darkGrey;
  }

  &-light-blue {
    color: $lightBlue;
  }

  &-medium-blue {
    color: $mediumBlue;
  }

  &-dark-blue {
    color: $darkBlue;
  }

  &-light-electric {
    color: $lightElectric;
  }

  &-medium-electric {
    color: $mediumElectric;
  }

  &-dark-electric {
    color: $darkElectric;
  }

  &-light-red {
    color: $lightRed;
  }

  &-medium-red {
    color: $mediumRed;
  }
  
  &-light-green {
    color: $lightGreen;
  }

  &-medium-green {
    color: $mediumGreen;
  }

  &-light-yellow {
    color: $lightYellow;
  }

  &-medium-yellow {
    color: $mediumYellow;
  }
  
  &-orange {
    color: $orange;
  }
}
