//MARGINS
.mt-nolus-12 {
	margin-top: 12px;
}
.mt-nolus-15 {
	margin-top: 15px;
}
.mt-nolus-16 {
	margin-top: 16px;
}
.mt-nolus-24 {
	margin-top: 24px;
}
.mt-nollus-25 {
	margin-top: 25px;
}
.mt-nolus-255 {
	margin-top: 25.5px;
}
.mt-nolus-285 {
	margin-top: 28.5px;
}
.mt-nolus-20 {
	margin-top: 20px;
}
.mt-nolus-22 {
	margin-top: 22px;
}
.mt-nolus-30 {
	margin-top: 30px;
}
.mt-nolus-36 {
	margin-top: 36px;
}
.mt-nolus-41 {
	margin-top: 41px;
}
.mt-nolus-55 {
	margin-top: 55px;
}
.mt-nolus-60 {
	margin-top: 60px;
}
.mt-nolus-70 {
	margin-top: 70px;
}
.mb-nolus-6 {
	margin-bottom: 6px;
}
.mb-nolus-10 {
	margin-bottom: 10px;
}
.mb-nolus-12 {
	margin-bottom: 12px;
}
.mb-nolus-13 {
	margin-bottom: 13px;
}
.mb-nolus-24 {
	margin-bottom: 24px;
}
.mb-nolus-28 {
	margin-bottom: 28px;
}
.mb-nolus-30 {
	margin-bottom: 30px;
}
.mb-nolus-32 {
	margin-bottom: 32px;
}
.mb-nolus-37 {
	margin-bottom: 37px;
}
.mb-nolus-38 {
	margin-bottom: 38px;
}
.mb-nolus-40 {
	margin-bottom: 40px;
}
.mb-nolus-48 {
	margin-bottom: 48px;
}
.mb-nolus-61 {
	margin-top: 61px;
}
.mb-nolus-175 {
	margin-bottom: 17.5px;
}
.mr-nolus-20 {
	margin-right: 20px;
}
.mr-nolus-15 {
	margin-right: 15px;
}

// PADDINGS

.pb-nolus-0 {
	padding-bottom: 0px;
}

.pb-nolus-61 {
	padding-bottom: 61px;
}

.pt-nolus-23 {
	padding-top: 23px;
}
.pt-nolus-24 {
	padding-top: 24px;
}
.pt-nolus-27 {
	padding-top: 27px;
}
.pt-nolus-32 {
	padding-top: 32px;
}
.pt-nolus-10 {
	padding-top: 10px;
}
.pt-nolus-40 {
	padding-top: 40px;
}
.pb-nolus-10 {
	padding-bottom: 10px;
}
.pb-nolus-24 {
	padding-bottom: 24px;
}
.pb-nolus-40 {
	padding-bottom: 40px;
}
.pl-nolus-24 {
	padding-left: 24px;
}
.pr-nolus-24 {
	padding-right: 24px;
}
.pr-nolus-15 {
	padding-right: 15px;
}
.pr-nolus-22 {
	padding-right: 22px;
}
.px-nolus-16 {
	padding-left: 16px;
	padding-right: 16px;
}
.px-nolus-24 {
	padding-left: 24px;
	padding-right: 24px;
}
.px-nolus-40 {
	padding-left: 40px;
	padding-right: 40px;
}
.py-nolus-10 {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.py-nolus-12 {
	padding-top: 12px;
	padding-bottom: 12px;
}
.py-nolus-13 {
	padding-top: 13px !important;
	padding-bottom: 13px !important;
}
.grow-3 {
	flex-grow: 3;
}

.p-nolus-40 {
	padding: 40px;
}
@media (max-width: $lg) {
	.md-nls-px-25 {
		padding-left: 25px;
		padding-right: 25px;
	}
	.md-nls-pl-25 {
		margin-left: 25px;
	}
	.sidebar-elements-container {
	}
}
@media (max-width: $md) {
	.sidebar-elements-container {
	}
}

@media (max-width: $md) {
	.sm-nls-0 {
		padding-left: 0;
		padding-right: 0px;
	}
	.md-mt-nolus-17 {
		margin-top: 17px;
	}
}
@media (max-width: $sm) {
}
