@font-face {
  font-display: swap;
  font-family: "Garet";
  src: url("./fonts/garet-light.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Garet Bolder";
  src: url("./fonts/garet-bolder.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Garet-Bold";
  src: url("./fonts/Garet-Bold.woff2") format("woff2"),
    url("./fonts/Garet-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Garet-Regular";
  src: url("./fonts/Garet-Regular.woff2") format("woff2"),
    url("./fonts/Garet-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  ;
}

@font-face {
  font-family: "Garet-Medium";
  src: url("./fonts/Garet-Medium.woff2") format("woff2"),
    url("./fonts/Garet-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nolus";
  src: url("./fonts/nolus.eot?26006009");
  src: url("./fonts//nolus.eot?26006009#iefix") format("embedded-opentype"),
    url("./fonts/nolus.woff2?26006009") format("woff2"),
    url("./fonts/nolus.woff?26006009") format("woff"),
    url("./fonts/nolus.ttf?26006009") format("truetype"),
    url("./fonts/nolus.svg?26006009#nolus") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
	  font-family: 'nolus';
	  src: url('../font/nolus.svg?69668575#nolus') format('svg');
	}
  }
  */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "nolus";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-arrow-cut:before {
  content: "\e800";
}

/* '' */
.icon-trade:before {
  content: "\e815";
}

/* '' */
.icon-arrow-external:before {
  content: "\e801";
}

/* '' */
.icon-arrow-long-down:before {
  content: "\e802";
}

/* '' */
.icon-arrow-long-up:before {
  content: "\e803";
}

/* '' */
.icon-arrow-short-down:before {
  content: "\e804";
}

/* '' */
.icon-arrow-short-left:before {
  content: "\e805";
}

/* '' */
.icon-arrow-short-right:before {
  content: "\e806";
}

/* '' */
.icon-arrow-short-up:before {
  content: "\e807";
}

/* '' */
.icon-assets:before {
  content: "\e808";
}

/* '' */
.icon-bell:before {
  content: "\e809";
}

/* '' */
.icon-block-cut:before {
  content: "\e80a";
}

/* '' */
.icon-book-cut:before {
  content: "\e80b";
}

/* '' */
.icon-calendar:before {
  content: "\e80c";
}

/* '' */
.icon-close:before {
  content: "\e80d";
}

/* '' */
.icon-collapse:before {
  content: "\e80e";
}

/* '' */
.icon-copy:before {
  content: "\e80f";
}

/* '' */
.icon-discord:before {
  content: "\e810";
}

/* '' */
.icon-earn:before {
  content: "\e811";
}

/* '' */
.icon-google:before {
  content: "\e812";
}

/* '' */
.icon-governance:before {
  content: "\e813";
}

/* '' */
.icon-history:before {
  content: "\e814";
}

/* '' */
.icon-lease:before {
  content: "\e816";
}

/* '' */
.icon-ledger:before {
  content: "\e817";
}

/* '' */
.icon-medium:before {
  content: "\e818";
}

/* '' */
.icon-more:before {
  content: "\e819";
}

/* '' */
.icon-person-1:before {
  content: "\e81a";
}

/* '' */
.icon-picker:before {
  content: "\e81b";
}

/* '' */
.icon-recover:before {
  content: "\e81d";
}

/* '' */
.icon-reddit:before {
  content: "\e81e";
}

/* '' */
.icon-scan-1:before {
  content: "\e81f";
}

/* '' */
.icon-shield-cut:before {
  content: "\e820";
}

/* '' */
.icon-star:before {
  content: "\e821";
}

/* '' */
.icon-success:before {
  content: "\e822";
}

/* '' */
.icon-swap:before {
  content: "\e823";
}

/* '' */
.icon-telegram:before {
  content: "\e824";
}

/* '' */
.icon-token:before {
  content: "\e825";
}

/* '' */
.icon-thick-cut:before {
  content: "\e826";
}

/* '' */
.icon-tooltip:before {
  content: "\e827";
}

/* '' */
.icon-twitter:before {
  content: "\e828";
}

/* '' */
.icon-wallet:before {
  content: "\e829";
}

/* '' */
.icon-warning:before {
  content: "\e82a";
}

/* '' */
.icon-print:before {
  content: "\e82b";
}

/* '' */
.icon-person:before {
  content: "\e82c";
}

/* '' */
.icon-warning-1:before {
  content: "\e82d";
}

/* '' */
.icon-scan:before {
  content: "\e82e";
}

/* '' */
.icon-keplr:before {
  content: "\e82f";
}

.icon-leap:before {
  content: "\830";
}

/* '' */
/* '' */