*,
*:before,
*:after {
	box-sizing: inherit;
	outline: none;
	margin: 0;
	padding: 0;
}

html,
body {
	background-color: $lighestGrey;
	background: linear-gradient(314.47deg, $borderColor 2.19%, $lightGrey 100%);
	position: relative;
	margin: 0;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);

	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;

	font-family: "Garet", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-smoothing: always;
	color: $dark;
}

hr {
	background-color: $borderColor;
	border: none;
	height: 1px;
}

input,
select,
textarea,
button {
	font-family: "Garet", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-smoothing: always;
}

.page-container {
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.separator-line {
	position: relative;

	&:before,
	&:after {
		content: " ";
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: $borderColor;
		left: 0;
		top: 46%;
	}
}

.logo {
	&-float {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.warning-box {
	background-color: $bgYellow;
}

.left-and-right {
	display: block;
	text-align: left;

	@media (min-width: $md) {
		text-align: right;
	}
}

.text {
	&-big-number {
		font-family: "Garet Bolder";
		line-height: 1.1;
		font-size: 48px;

		&-sub {
			font-size: 40px;
			font-family: "Garet Bolder";
		}
	}

	&-large-heading {
		font-family: "Garet Bolder";
		line-height: 1.1;
		font-size: 32px;
	}
}

.nls-font-500 {
	font-family: "Garet-Medium";
	line-height: 1.4;

	.nls-font-400-copy {
		font-size: 16px;
	}

	.text-bold-copy {
		font-family: "Garet Bolder";
		font-size: 16px;
	}
}

.text-normal-copy {
	font-family: "Garet";
	font-size: 14px;
	line-height: 1.4;

	.nls-font-400-copy {
		font-family: "Garet-Medium";
		font-size: 14px;
	}

	.text-bold-copy {
		font-family: "Garet Bolder";
		font-size: 14px;
	}
}

.text-small-copy {
	color: $lightBlue;
	font-family: "Garet";
	font-size: 13px;
	line-height: 1.3;

	.nls-font-400-copy {
		font-family: "Garet-Medium";
		font-size: 13px;
	}

	.text-bold-copy {
		font-family: "Garet Bolder";
		font-size: 13px;
	}
}

.text-detail {
	color: $lightBlue;
	font-family: "Garet-Medium";
	font-size: 12px;
	line-height: 1.2;
}

.text-patch {
	color: $mediumBlue;
	background-color: $borderColor;
}

input[type="checkbox" i] {
	position: relative;
}

.disabled {
	background-color: $borderColor;
	color: $lightBlue;
	pointer-events: none;
}

.nls-font-700 {
	font-family: "Garet Bolder";
}

.nls-font-600 {
	font-family: "Garet-Bold";
}

.nls-font-500 {
	font-family: "Garet-Medium";
}

.nls-font-400 {
	font-family: "Garet";
}

.group-tooltip {
  font-size: 10px;
  line-height: 14px;

  .icon-tooltip {
    color: $lightBlue;
    margin: 0;

    &::before {
      margin: 0;
    }

	&:hover {
		color: $lightElectric;
	}
  }

  &:hover {
    .group-hover\:flex {
      background-color: $lightElectric;
      box-shadow: 0px 8px 48px $shadowModalColor;
      border-radius: 4px;
      border-radius: 6px;
      min-width: 196px;
    }
  }
}

.sm\:col-span-12 {
	grid-column: span 12 / span 12;
}

.sm\:w-full {
	width: 100%;
}

.sm\:color-white {
	color: $white;
}

:root {
	input[type="checkbox"],
	input[type="radio"] {
		--active: $lightElectric;
		--active-inner: $white;
		--focus: 2px $lightElectric;
		--border: $borderColor;
		--border-hover: $lightElectric;
		--background: $white;
		--disabled: $lighestGrey;
		--disabled-inner: $lightGrey;
		height: 21px !important;
		outline: none;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0;
		cursor: pointer;
		border: 1px solid var(--bc, var(--border));
		background: var(--b, var(--background));
		transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;

		&:after {
			content: "";
			display: block;
			left: 0;
			top: 0;
			position: absolute;
			transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
				opacity var(--d-o, 0.2s);
		}

		&:checked {
			--b: var(--active);
			--bc: var(--active);
			--d-o: 0.3s;
			--d-t: 0.6s;
			--d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
		}

		&:disabled {
			--b: var(--disabled);
			cursor: not-allowed;
			opacity: 0.9;

			&:checked {
				--b: var(--disabled-inner);
				--bc: var(--border);
			}

			& + label {
				cursor: not-allowed;
			}
		}

		&:hover {
			&:not(:checked) {
				&:not(:disabled) {
					--bc: var(--border-hover);
				}
			}
		}

		&:focus {
			box-shadow: 0 0 0 var(--focus);
		}

		&:not(.switch) {
			width: 21px;

			&:after {
				opacity: var(--o, 0);
			}

			&:checked {
				--o: 1;
			}
		}

		& + label {
			font-size: 14px;
			line-height: 21px;
			display: inline-block;
			vertical-align: top;
			cursor: pointer;
			margin-left: 4px;
		}
	}

	input[type="checkbox"] {
		&:not(.switch) {
			&:after {
				width: 5px;
				height: 9px;
				border: 2px solid var(--active-inner);
				border-top: 0;
				border-left: 0;
				left: 7px;
				top: 4px;
				transform: rotate(var(--r, 20deg));
			}

			&:checked {
				--r: 43deg;
			}
		}

		&.switch {
			width: 38px;
			border-radius: 11px;

			&:after {
				left: 2px;
				top: 2px;
				border-radius: 50%;
				width: 15px;
				height: 15px;
				background: var(--ab, var(--border));
				transform: translateX(var(--x, 0));
			}

			&:checked {
				--ab: var(--active-inner);
				--x: 17px;
			}

			&:disabled {
				&:not(:checked) {
					&:after {
						opacity: 0.6;
					}
				}
			}
		}

		&:focus {
			box-shadow: none;
		}
	}

	input[type="radio"] {
		border-radius: 50%;

		&:after {
			width: 19px;
			height: 19px;
			border-radius: 50%;
			background: var(--active-inner);
			opacity: 0;
			transform: scale(var(--s, 0.7));
		}

		&:checked {
			--s: 0.5;
		}

		&:focus {
			box-shadow: none;
		}
	}
}

.hidden {
	display: none !important;
}

[v-cloak] {
	background-color: red;
}

@media (min-width: $md) {
	.nls-md-show {
		display: none;
	}
}

@media (max-width: $lg) {
	.nls-md-show {
		display: block;
	}
	.nls-md-hidden {
		display: none;
	}
	.nls-md-flex-row {
		flex-direction: row !important;
	}
	.btn-header {
		background-color: transparent;
		box-shadow: none;

		&.shadow-box {
			box-shadow: none;
		}
	}
}

@media (max-width: $md) {
  .table-header {
    padding-right: 16px;
    padding-left: 16px;
  }
  .nls-md-hidden {
    display: none;
  }
  .nls-sm-title {
    margin-top: 26px;
    margin-bottom: 11.5px;
  }
}

@media (max-width: $sm) {
	.balance-box {
		padding-right: 16px;
		padding-left: 16px;
		display: block;
		& > div {
			width: 100%;
			&:first-of-type {
				margin-bottom: 27px;
			}
		}
	}
	.sidebar-elements-block {
		border-top: 1px solid $borderColor;
	}
	.nls-sm-hidden {
		display: none;
	}
	.nls-sm-inline-flex-half {
		display: inline-flex;
		width: 50%;
	}
}