*,
*:before,
*:after {
    box-sizing: inherit;
    outline: none;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: $lighestGrey;
    background-image: linear-gradient(299deg, $gradientGrey 98%, $lighestGrey);
    position: relative;
    margin: 0;
    min-height: 100vh;

    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;

    font-family: 'Garet', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-smoothing: always;
    color: $textMain;
}

hr {
    background-color: rgba(7, 45, 99, 0.1);
    border: none;
    height: 1px;
}

input,
select,
textarea,
button {
    font-family: 'Garet', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-smoothing: always;
}

input[type="radio"] {
    accent-color: $lightElectric;
}

.page-container {
    width: 100%;
    min-height: 100vh;

    &.styleguide {
        background-color: $white;
    }
}

.separator-line {
    position: relative;

    &:before,
    &:after {
        content: " ";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $grey;
        left: 0;
        top: 50%;
    }
}

.logo {

    &-float {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.warning-box {
    background-color: #fff9ea;
}

.left-and-right {
    display: block;
    text-align: left;

    @media (min-width: $md) {
        text-align: right;
    }
}