*,
*:before,
*:after {
	box-sizing: inherit;
	outline: none;
	margin: 0;
	padding: 0;
}

html,
body {
	background-color: #fafbfc;
	background: var(--nolus-color-pallet-background-gradient, linear-gradient(314deg, #EBEFF5 2.19%, #F0F4F7 100%));

	@media (min-width: 830px) {
		.custom-scroll {
			& {
				scrollbar-width: thin;
				scrollbar-color: #9c9c9c #f5f5f5;
			}

			&::-webkit-scrollbar-track {
				background-color: #f5f5f5;
			}

			&::-webkit-scrollbar {
				width: 6px;
				height: 6px;
				background-color: #f5f5f5;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #C1CAD7;
				border: solid 1px white;
				border-radius: 4px;
			}

		}
	}

	.data-label-info {
		background-color: #ebeff5;
	}

	&.sync {
		@media (prefers-color-scheme: dark) {
			background: $dark-gray;

			.line-throught {
				&::after {
					background-color: $white;
				}
			}

			button.chart-dates {
				color: white;
				border-color: #2B384B;
			}
		}

		.border-right {
			@media (prefers-color-scheme: dark) {
				border-right: 1px solid $dark-line;
			}
		}

		@media (max-width: $sm) {

			.sidebar-elements-block {
				@media (prefers-color-scheme: dark) {
					border-top: 1px solid $dark-line;
					background-color: $dark-background !important;
				}
			}

		}

		@media (prefers-color-scheme: dark) {
			.data-label-info {
				background-color: #2B384B;
			}


			.data-text {
				color: #8396B1;
			}

		}
	}

	&.dark {
		background: $dark-gray;

		.line-throught {
			&::after {
				background-color: $white;
			}
		}

		button.chart-dates {
			color: white;
			border-color: #2B384B;
		}

		.border-right {
			border-right: 1px solid $dark-line;
		}

		@media (max-width: $sm) {

			.sidebar-elements-block {
				border-top: 1px solid $dark-line;
				background-color: $dark-background !important;
			}

		}

		.data-label-info {
			background-color: #2B384B;
		}

		.data-text {
			color: #8396B1;
		}
	}

	position: relative;
	margin: 0;
	min-height: 100vh;

	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;

	font-family: "Garet",
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	Helvetica,
	Arial,
	sans-serif,
	"Apple Color Emoji",
	"Segoe UI Emoji",
	"Segoe UI Symbol";
	font-smooth: always;
	color: $dark;
}


.line-mobile {
	position: relative;

	@media (max-width: 880px) {
		&::after {
			content: "";
			position: absolute;
			width: 100vw;
			height: 1px;
			background-color: $borderColor;
			left: -16px;
			bottom: 12px;
		}
	}
}

@media (max-width: $sm) {

	html,
	body {
		min-height: calc(var(--vh, 1vh) * 100);

	}
}

div#app {
	min-height: 100%;
	display: inline;
	background-color: #fafbfc;
	background: var(--nolus-color-pallet-background-gradient, linear-gradient(314deg, #EBEFF5 2.19%, #F0F4F7 100%));
}

.scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #9c9c9c #f5f5f5;

	&::-webkit-scrollbar-track {
		background-color: white;
	}

	&::-webkit-scrollbar {
		width: 8px;
		height: 6px;
		background-color: white;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #ebeff5;
		border: solid 1px white;
		border-radius: 5px;
	}
}

hr {
	background-color: $borderColor;
	border: none;
	height: 1px;
}

input,
select,
textarea,
button {
	font-family: "Garet", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-smooth: always;
}

.garet-medium {
	font-family: "Garet-Medium", sans-serif;
}

.page-container {
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.separator-line {
	position: relative;

	&:before,
	&:after {
		content: " ";
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: $borderColor;
		left: 0;
		top: 46%;
	}
}

.logo {
	&-float {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.warning-box {
	background-color: $bgYellow;
}

.left-and-right {
	display: block;
	text-align: left;

	@media (min-width: $md) {
		text-align: right;
	}
}

.text {
	&-big-number {
		font-family: "Garet Bolder", sans-serif;
		font-size: 600;
		line-height: 1.1;
		font-size: 48px;

		&-sub {
			font-size: 40px;
			font-family: "Garet Bolder", sans-serif;
			font-size: 600;
		}
	}

	&-large-heading {
		font-family: "Garet Bolder", sans-serif;
		font-size: 600;
		line-height: 1.1;
		font-size: 32px;
	}
}

.nls-font-500 {
	font-family: "Garet-Medium", sans-serif;
	line-height: 1.4;

	.nls-font-400-copy {
		font-size: 16px;
	}

	.text-bold-copy {
		font-family: "Garet Bolder", sans-serif;
		font-size: 600;
		font-size: 16px;
	}
}

.text-normal-copy {
	font-family: "Garet", sans-serif;
	font-size: 14px;
	line-height: 1.4;

	.nls-font-400-copy {
		font-family: "Garet-Medium", sans-serif;
		font-size: 14px;
	}

	.text-bold-copy {
		font-family: "Garet Bolder", sans-serif;
		font-size: 600;
		font-size: 14px;
	}
}

.text-small-copy {
	color: $lightBlue;
	font-family: "Garet", sans-serif;
	font-size: 13px;
	line-height: 1.3;

	.nls-font-400-copy {
		font-family: "Garet-Medium", sans-serif;
		font-size: 13px;
	}

	.text-bold-copy {
		font-family: "Garet Bolder", sans-serif;
		font-size: 600;
		font-size: 13px;
	}
}

.text-detail {
	color: $lightBlue;
	font-family: "Garet-Medium", sans-serif;
	font-size: 12px;
	line-height: 1.2;
}

.text-yellow {
	color: #FFB922 !important;
}

.text-patch {
	color: $mediumBlue;
	background-color: $borderColor;
}

input[type="checkbox" i] {
	position: relative;
}

.disabled {
	background-color: $borderColor;
	color: $lightBlue;
	pointer-events: none;
}

.nls-font-700 {
	font-family: "Garet Bolder", sans-serif;
	font-size: 600;
}

.nls-font-600 {
	font-family: "Garet-Bold", sans-serif;
}

.nls-font-500 {
	font-family: "Garet-Medium", sans-serif;
}

.nls-font-400 {
	font-family: "Garet", sans-serif;
}

.group-tooltip {
	font-size: 10px;
	line-height: 14px;
	cursor: pointer;

	.icon-tooltip {
		color: $lightBlue;
		margin: 0;

		&::before {
			margin: 0;
		}

		&:hover {
			color: $lightElectric !important;
		}
	}

}

.tooltip {
	width: 196px;
	display: flex;
	visibility: hidden;
	left: 0;
	top: 0;
	z-index: 1111111111;
}

.sm\:col-span-12 {
	grid-column: span 12 / span 12;
}

.sm\:w-full {
	width: 100%;
}

.sm\:color-white {
	color: $white;
}

:root {

	input[type="checkbox"],
	input[type="radio"] {
		--active: $lightElectric;
		--active-inner: $white;
		--focus: 2px $lightElectric;
		--border: $borderColor;
		--border-hover: $lightElectric;
		--background: $white;
		--disabled: $lighestGrey;
		--disabled-inner: $lightGrey;
		height: 21px !important;
		outline: none;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0;
		cursor: pointer;
		border: 1px solid var(--bc, var(--border));
		background: var(--b, var(--background));
		transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;

		&:after {
			content: "";
			display: block;
			left: 0;
			top: 0;
			position: absolute;
			transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
				opacity var(--d-o, 0.2s);
		}

		&:checked {
			--b: var(--active);
			--bc: var(--active);
			--d-o: 0.3s;
			--d-t: 0.6s;
			--d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
		}

		&:disabled {
			--b: var(--disabled);
			cursor: not-allowed;
			opacity: 0.9;

			&:checked {
				--b: var(--disabled-inner);
				--bc: var(--border);
			}

			&+label {
				cursor: not-allowed;
			}
		}

		&:hover {
			&:not(:checked) {
				&:not(:disabled) {
					--bc: var(--border-hover);
				}
			}
		}

		&:focus {
			box-shadow: 0 0 0 var(--focus);
		}

		&:not(.switch) {
			width: 21px;

			&:after {
				opacity: var(--o, 0);
			}

			&:checked {
				--o: 1;
			}
		}

		&+label {
			font-size: 14px;
			line-height: 21px;
			display: inline-block;
			vertical-align: top;
			cursor: pointer;
			margin-left: 4px;
		}
	}

	input[type="checkbox"] {
		&:not(.switch) {
			&:after {
				left: 7px;
				top: 3px;
				width: 6px;
				height: 11px;
				border: solid white;
				border-width: 0 3px 3px 0;
				transform: rotate(45deg);
			}

		}

		&.switch {
			width: 38px;
			border-radius: 11px;

			&:after {
				left: 2px;
				top: 2px;
				border-radius: 50%;
				width: 15px;
				height: 15px;
				background: var(--ab, var(--border));
				transform: translateX(var(--x, 0));
			}

			&:checked {
				--ab: var(--active-inner);
				--x: 17px;
			}

			&:disabled {
				&:not(:checked) {
					&:after {
						opacity: 0.6;
					}
				}
			}
		}

		&:focus {
			box-shadow: none;
		}
	}

	input[type="radio"] {
		border-radius: 50%;

		&:after {
			width: 19px;
			height: 19px;
			border-radius: 50%;
			background: var(--active-inner);
			opacity: 0;
			transform: scale(var(--s, 0.7));
		}

		&:checked {
			--s: 0.5;
		}

		&:focus {
			box-shadow: none;
		}
	}
}

.border-right {
	width: 1px;
	border-right: 1px solid $borderColor;
}

.graditent-background {
	background-image: linear-gradient(314deg, #EBEFF5 2.19%, #F7F9FC 100%);
}

.his-url {
	color: #2868E1;
}

@media (min-width: $md) {
	.nls-md-show {
		display: none;
	}

	.outline {
		outline: none;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			border: 1px solid #EBEFF5;
			border-radius: 12px;
			pointer-events: none;
		}
	}
}

@media (max-width: $lg) {
	.nls-md-show {
		display: block;
	}

	.nls-md-hidden {
		display: none;
	}

	.nls-md-flex-row {
		flex-direction: row !important;
	}

	.btn-header {
		background-color: transparent;
		box-shadow: none;

		&.shadow-box {
			box-shadow: none;
		}
	}

}

@media (max-width: $md) {
	// .table-header {
	// 	padding-right: 16px;
	// 	padding-left: 16px;
	// }

	.nls-md-hidden {
		display: none;
	}

	.nls-sm-title {
		margin-top: 26px;
		margin-bottom: 11.5px;
	}

}

@media (max-width: $sm) {
	.balance-box {
		padding-right: 16px;
		padding-left: 16px;
		display: block;

		&>div {
			width: 100%;
		}
	}

	.sidebar-elements-block {
		border-top: 1px solid $borderColor;
	}

	.nls-sm-hidden {
		display: none;
	}

	.nls-sm-inline-flex-half {
		display: inline-flex;
		width: 50%;
	}

}

.nls-border {
	border: 1px $borderColor solid;
}

.background {
	background-color: white;
}

.light-background {
	background-color: $dark-line;
}

.background-dark {
	background-color: transparent;
}

.dark-text {
	color: $textMain !important;
}

.dark-text-light-blue {
	color: $dark !important;
}

.bg-light-grey {
	background-color: $lightGrey;
}

.modal-balance {
	background-color: $lightGrey;
}

.fixed {
	position: fixed;
}

.dropdown-elements {
	color: $textMain !important;
	padding: 8px 24px 8px 4px;

	&:li {
		padding-left: 4px;
	}

	&:hover {
		background-color: $borderColor !important;
	}
}

.outline {
	outline: solid 1px #EBEFF5;
}

body.dark {

	.line-mobile {
		&::after {
			background-color: $dark-line;
		}
	}

	.outline {
		outline: none;
	}


	.background {
		background-color: $dark-background;
	}

	.separator-line::after {
		background-color: $dark-line;
	}

	.background-dark {
		background-color: $dark-gray;
	}

	.nls-border {
		border-color: $dark-line;
	}

	.dark-text {
		color: $white !important;
	}

	.warning-box {
		background-color: rgba(255, 215, 130, 0.4);
	}

	.bg-light-grey {
		background-color: $mediumBlue;
		border: none !important;
	}

	body,
	div#app {
		background-color: $dark-gray;
		background: unset;
	}

	.modal-balance {
		background-color: $dark-line;
	}

	.show-box-pop,
	.btn-header {
		color: $lightBlue !important;
		background-color: $dark-background !important;
		border-color: $dark-line !important;

		&:hover {
			color: $white !important;
			background-color: $dark-background;
			border-color: $dark-line;
		}

		&:active {
			color: $lightBlue !important;
			background-color: $dark-background;
			border-color: $dark-line;
		}
	}

	.border-standart {
		border-color: $dark-line !important;
	}

	.picker-container ul {
		background-color: $dark-background !important;
		border-color: $dark-line !important;

		& li {
			color: $white !important;

			&:hover {
				background-color: $dark-line;
				border-radius: $veryLightRounded;
			}
		}
	}

	.icon-keplr::before,
	.icon-google::before,
	.icon-ledger::before,
	.icon-recover::before,
	.icon-leap::before {
		color: $lightGrey;
	}

	.dark-text-light-blue {
		color: $lightBlue !important;
	}

	@media (max-width: $lg) {
		.outline {
			outline: 1px solid #2B384B !important;
			box-shadow: 0px 12px 32px 0px rgba(7, 45, 99, 0.06);
		}
	}

	@media (min-width: $md) {
		.outline {
			&::after {
				border: 1px solid $dark-line;
			}
		}
	}
}

body.sync {
	@media (prefers-color-scheme: dark) {

		.line-mobile {
			&::after {
				background-color: $dark-line;
			}
		}

		.outline {
			outline: none;
		}

		.background {
			background-color: $dark-background;
		}

		.separator-line::after {
			background-color: $dark-line;
		}

		.background-dark {
			background-color: $dark-gray;
		}

		.nls-border {
			border-color: $dark-line;
		}

		.dark-text {
			color: $white !important;
		}

		.warning-box {
			background-color: rgba(255, 215, 130, 0.4);
		}

		.bg-light-grey {
			background-color: $mediumBlue;
			border: none !important;
		}

		body,
		div#app {
			background-color: $dark-gray;
			background: unset;
		}

		.modal-balance {
			background-color: $dark-line;
		}

		.show-box-pop,
		.btn-header {
			color: $lightBlue !important;
			background-color: $dark-background !important;
			border-color: $dark-line !important;

			&:hover {
				color: $white !important;
				background-color: $dark-background;
				border-color: $dark-line;
			}

			&:active {
				color: $lightBlue !important;
				background-color: $dark-background;
				border-color: $dark-line;
			}
		}

		.border-standart {
			border-color: $dark-line !important;
		}

		.picker-container ul {
			background-color: $dark-background !important;
			border-color: $dark-line !important;

			& li {
				color: $white !important;

				&:hover {
					background-color: $dark-line;
					border-radius: $veryLightRounded;
				}
			}
		}

		.icon-keplr::before,
		.icon-google::before,
		.icon-ledger::before,
		.icon-recover::before,
		.icon-leap::before {
			color: $lightGrey;
		}

		.dark-text-light-blue {
			color: $lightBlue !important;
		}

		@media (min-width: $md) {
			.outline {
				&::after {
					border: 1px solid $dark-line !important;
				}
			}
		}
	}
}

.loan-active {
	color: #FF562E !important;
}

// TODO
.line-throught {
	position: relative;

	&::after {
		position: absolute;
		content: "";
		height: 1px;
		width: 85%;
		background-color: $textMain;
		left: 0;
		bottom: 45%;
	}
}

.line-throught-gray {
	position: relative;
	margin-right: 4px;

	&::after {
		position: absolute;
		content: "";
		height: 1px;
		width: 85%;
		background-color: rgb(131 150 177 / var(--tw-text-opacity));
		left: 0;
		bottom: 50%;
	}
}