@media (max-width: $lg) {
.mobile-scroll {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100 - 65px - 82px);
    overflow: auto;
  }
  .sidebar-container{
    z-index: 1;
    width: 0 !important;
  }
}