.text {

  // Text Sizes
  &-big-number {
    font-size: 48px;
    font-family: "Garet Bolder", sans-serif;
    font-weight: 600;
    line-height: 1.1;
  }

  &-to-big-number {
    font-size: 40px;
    font-family: "Garet Bolder", sans-serif;
    font-weight: 600;
    line-height: 1.1;
  }

  &-large-heading {
    font-size: 32px;
    font-family: "Garet Bolder", sans-serif;
    font-weight: 600;
    line-height: 1.1;
  }

  &-default-heading {
    font-size: 20px;
    font-family: "Garet Bolder", sans-serif;
    font-weight: 600;
    line-height: 1.2;
  }

  &-small-heading {
    font-size: 18px;
    font-family: "Garet Bolder", sans-serif;
    font-weight: 600;
    line-height: 1.2;
  }

  &-large-copy {
    font-size: 16px;
    line-height: 1.4;
  }

  &-normal-copy {
    font-size: 14px;
    line-height: 1.4;
  }

  &-small-copy {
    font-size: 12px;
    line-height: 1.3;
  }

  &-detail {
    font-size: 12px;
    line-height: 1.2;
    color: $lightBlue;
  }

  // Text Colors
  &-primary {
    color: $textMain;
  }

  &-secondary {
    color: $orange;
  }

  &-white {
    color: $white;
  }

  &-disabled,
  &-dark-grey {
    color: $darkGrey;
  }

  &-yellow {
    color: $mediumYellow;
  }

  &-green {
    color: $mediumGreen;
  }

  &-patch {
    color: $mediumBlue;
    background-color: $grey;
  }

  // Text Weigths
  &-bold {
    font-family: "Garet Bolder", sans-serif;
  }

  &-medium {
    font-family: "Gared Regular", sans-serif;
  }

  &-regular {
    font-family: "Garet", sans-serif;
  }

  // Text Allignment
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  // Text Styles
  &-upper {
    text-transform: uppercase;
  }

  &-capital {
    text-transform: capitalize;
  }

  &-lower {
    text-transform: lowercase;
  }

  &-normal {
    text-transform: none;
  }
}

body.sync {
  @media (prefers-color-scheme: dark) {
    .text-primary {
      color: $text-white;
    }
  }
}

body.dark {
  .text-primary {
    color: $text-white;
  }
}