.text {

    // Text Sizes
    &-big-number {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1;
    }

    &-to-big-number {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.1;
    }

    &-large-heading {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.1;
    }

    &-default-heading {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
    }

    &-small-heading {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;
    }

    &-large-copy {
        font-size: 16px;
        line-height: 1.4;
    }

    &-normal-copy {
        font-size: 14px;
        line-height: 1.4;
    }

    &-small-copy {
        font-size: 13px;
        line-height: 1.3;
    }

    &-detail {
        font-size: 12px;
        line-height: 1.2;
    }

    // Text Colors
    &-primary {
        color: $textMain;
    }

    &-secondary {
        color: $orange;
    }

    &-white {
        color: $white;
    }

    &-disabled,
    &-dark-grey {
        color: $dark;
    }

    &-yellow {
        color: $darkYellow;
    }

    &-green {
        color: $darkGreen;
    }

    // Text Weigths
    &-bold {
        font-weight: 700;
    }

    &-medium {
        font-weight: 500;
    }

    &-regular {
        font-weight: 400;
    }

    // Text Allignment
    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

    // Text Styles
    &-upper {
        text-transform: uppercase;
    }

    &-capital {
        text-transform: capitalize;
    }

    &-lower {
        text-transform: lowercase;
    }

    &-normal {
        text-transform: none;
    }
}