.state-loading {
  position: relative;
  height: 24px;
  background-color: #ebeff5;
  display: block;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;

  &::before {
    content: "";
    border-radius: 4px;
    position: absolute;
    height: 100%;
    width: 40px;
    animation: skeleton 800ms infinite;
    background: rgb(201 201 201 / 15%);
    filter: blur(8px);
  }
}

// body.sync {
//   @media (prefers-color-scheme: dark) {
//     div.status {
//       background-color: #2B384B;
//     }

//     .state-loading {
//       background-color: #2B384B;

//       &::before {
//         background: #c9c9c917;
//       }
//     }
//   }
// }

body.dark,
body.sync {
  div.status {
    background-color: #2b384b;
  }

  .state-loading {
    background-color: #2b384b;

    &::before {
      background: #c9c9c917;
    }
  }
}
