@use "state";
@use "tooltip";

@reference "../../../node_modules/web-components/src/assets/styles/theme.css";

html,
body {
  @apply h-full w-full bg-neutral-bg-1;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
}

.custom-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

strong {
  font-weight: 600;
}

svg {
  text,
  tspan {
    font-family: Garet, Helvetica, Arial, sans-serif;
  }
}

.intercom-app {
  position: relative;
  z-index: 9997;
}

.skeleton-box {
  @apply bg-neutral-bg-300;
  animation: blink 1.2s linear infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
}

.intercom-lightweight-app {
  z-index: 1 !important;
}
