@use "state";
@use "tooltip";

html,
body {
  @apply h-full w-full bg-neutral-bg-1;
}

::-webkit-scrollbar {
  display: none;
}

.custom-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
  // &::-webkit-scrollbar {
  //   width: 8px;
  //   height: 8px;
  // }

  // /* Track */
  // &::-webkit-scrollbar-track {
  //   background: #ebeff5;
  //   opacity: 0.2;
  //   border-radius: 4px;
  // }

  // /* Handle */
  // &::-webkit-scrollbar-thumb {
  //   background-color: gray;
  //   border: solid 1px #ebeff5;
  //   border-radius: 4px;
  // }

  // /* Handle on hover */
  // &::-webkit-scrollbar-thumb:hover {
  //   background-color: gray;
  // }
}

// .thin-scroll {
//   &::-webkit-scrollbar {
//     width: 6px;
//     height: 6px;
//   }

//   /* Track */
//   &::-webkit-scrollbar-track {
//     background: #ebeff5;
//     opacity: 0.2;
//     border-radius: 4px;
//   }

//   /* Handle */
//   &::-webkit-scrollbar-thumb {
//     background-color: gray;
//     border: solid 1px #ebeff5;
//     border-radius: 4px;
//   }

//   /* Handle on hover */
//   &::-webkit-scrollbar-thumb:hover {
//     background-color: gray;
//   }
// }

strong {
  font-weight: 600;
}

svg {
  text,
  tspan {
    font-family: Garet, Helvetica, Arial, sans-serif;
  }
}

.intercom-app {
  position: relative;
  z-index: 9997;
}

.skeleton-box {
  @apply bg-neutral-bg-300;
  animation: blink 1.2s linear infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
}
